*{
    margin: 0;
    padding: 0;
}
 h1 {
    background-color: #081b31;
    color: #fff;
    height: 5rem;
   line-height: 5rem;
   padding-left: 450px;
  
}
.choice{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    background-color: #081b31;
    cursor: pointer;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
}
.score-board{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    gap: 5rem;
    margin-top: 3rem;
}
.msg-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
#userscore, #compscore{
    font-size: 4rem;
}
#msg{
    margin-top: 0.5rem;
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 10%;
}


